#txt {
	color: #2C2C2C;
	font-size: 60pt;
	text-align: center;

}

#live {
	/*display: none;*/
	color: red;
	font-size: 60pt;
	text-align: center;

}

#notLive {
	/*display: none;*/
	color: #2C2C2C;
	font-size: 60pt;
	text-align: center;

}

#timeLeft {
	color: red;
	font-weight: bold;
	font-size: 30pt;
	text-align: center;

}